@using ReflectionIT.Mvc.Paging
@using SmartAdmin.ViewModels
@addTagHelper *, ReflectionIT.Mvc.Paging

@model PagingList<UserViewModel>
@{
    ViewBag.Title = "Активация пользователей";
}

<p/>

<div class="row">
    <form class="form-inline" method="get" action="">
        <div class="form-group">
            <label style="margin-right: 15px">Поиск</label>
            <input class="form-control" name="currentFilter" value="@ViewBag.CurrentFilter"></input>
        </div>
        <div class="form-group">
            <input style="margin-left: 15px" type="submit" value="Поиск" class="btn" />
        </div>
    </form>
</div>

<p/>

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Id", "Index", new { sortMember = "id", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Пользователь", "Index", new { sortMember = "name", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th width="50px" >
                @Html.ActionLink("Активен", "Index", new { sortMember = "isActive", sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => user.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => user.Name)
                    </td>
                    <td class="text-center">
                        @Html.CheckBoxFor(m => user.IsActive, new { value = user.Id, @checked = user.IsActive, @onchange = "onIsActiveChanged(this);" })
                        <span id="glyphicon-for-user-@user.Id" style="margin-left: 15px" aria-hidden="true"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

<div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
        <vc:pager paging-list="@Model" />
    </div>
</div>
@section Scripts {
    <script>
        function onIsActiveChanged(input) {
            var children = $('#glyphicon-for-user-' + input.value);
            children.removeClass();
            children.addClass('glyphicon glyphicon-flash');

            $.ajax({
                type: 'PUT',
                url: '@Url.Action("Activate")',
                data: {
                    id: input.value,
                    isActive: input.checked
                }
            }).success(function () {
                children.removeClass();
                children.addClass('glyphicon glyphicon-ok');
            }).error(function () { 
                children.removeClass();
                children.addClass('glyphicon glyphicon-exclamation-sign');
            });
        }
    </script>
}